.table-container {
  background-color: #fff;
  border-radius: 8px;
  border: 0.5px solid #d5d8d9;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.data-list{
  overflow-y: scroll;
}

.table-summary {
  padding-block-start: 10px;
  font-family: montserrat-medium;
}

.table-header {
  border-bottom: 0.5px solid #b5bbbd;
  font-weight: 600;
  font-size: 0.8rem;
  display: grid;
  grid-auto-flow: column;
}

.header-item {
  font-family: montserrat-medium;
  padding-block-end: 10px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content 1fr;
  gap: 0.5rem;
  cursor: pointer;
}
.item {
  color: #b5b5b5;
}
.table-header.icon {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: min-content;
  i:first-child {
    margin-block-end: -10px;
  }

  &.asc i:first-child {
    color: #4a4a4a;
  }
  &.des i:last-child {
    color: #4a4a4a;
  }
}

span {
  display: flex;
  align-items: center;
}
