.main-layout {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    'side header'
    'side main';
  background-color: #e4e5e7;
}

.app-header {
  grid-area: header;
  display: flex;
}
